[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic = "*"
psycopg2 = "*"
passlib = "*"
bcrypt = "4.0.1"
pyjwt = "*"
alembic = "*"
dotenv = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
